/.gradle/
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
**/out/
/strawberry-core/api/build/
/strawberry-core/impl/build/
/strawberry-read/impl/build/
/strawberry-read/api/build/
